@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #aeaeae;
}

.swiper-pagination-bullet-active {
  background-color: #fcd054 !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fcd054 !important;
}
